<br>
<%= @relations[0]['sentence']%>
<br>
<%= @relations[0]['subject']['text']%>
<br> 
<%= @relations[0]['object']['text']%>
<br>
<%= @relations[0]['object']['sentiment']['type']%>
<br>
<%= @relations[0]['object']['sentiment']['score']%>
